<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 mt-3 gif">
        <img src="https://78.media.tumblr.com/84ca9069130bb272bd5971c34ba26c12/tumblr_inline_oeho7x7mVv1r831y0_500.gif" alt="" width="320" height="240">
        </div>
        <div class="col-md-3"></div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 input">
            <form>
                <input type="text" placeholder="Digite">
                <button class="btn btn-success" type="submit">Buscar</button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
  </div>
  </div>
