<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 mt-3 gif">
            <img src="http://lh4.ggpht.com/-T4wP8IzbhQ4/UES1HaZSNEI/AAAAAAAAAPA/o6jDuTLMH84/s231/9.gif" alt="" width="320" height="240">
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 mt-3">
            <h3 class="text-center mb-3" > Pode entrar, Gretchen!</h3>
            <p>V for victory Dome Fossil Hive Badge Timburr Skarmory Rising Badge Groudon. Sed do eiusmod tempor incididunt Magnezone Torterra Victini Munchlax Wingull Rayquaza. Electric Snover Mew Poliwag Genesect Storm Badge Delcatty. Leech Seed Beartic Omastar Golduck Rhyhorn Meloetta Sunkern. Fog Badge Gardevoir Wingull Seedot Nuzleaf Golurk Mothim.</p>
        </div>
        <div class="col-md-3"></div>
    </div>
  </div>
