<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4>Menu</h4>
            <ul>
                <li>Home</li>
                <li>Sobre</li>
                <li>Doe</li>
            </ul>
        </div>
        <div class="col-md-8">
            <p>Pokem ipsum dolor sit amet Vibrava I wanna be the very best Sunkern our courage will pull us through
                Flareon The Power Of One. Fire Red Hypno Palkia Wailord Unown Poison Sting sed do eiusmod tempor. Earth
                Badge Uxie Ferrothorn Munchlax Eevee Marsh Badge the enemy Pokemon fainted. Slash Porygon Psyduck
                Grovyle Serperior Skarmory Bulbasaur. Team Rocket Lavender Town Ash's mother Slowking Aipom Brock
                Regirock.</p>
        </div>
    </div>

</div>